@import variables
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

body
    font-family: 'Roboto', sans-serif

.tag
    background: #588fe5
    display: inline-block
    color: #fff
    position: relative
    padding: 5px
    border-radius: 3px
    margin: 0 10px 0 0
    text-decoration: none

.question-link
    color: $winc-main-blue

    &:hover
        color: white
        background-color: $winc-main-blue

.tag-col
    text-align: center

.question-header,
.tag-header
    background-color: $winc-tertiary-blue
    color: white
    text-align: center
    text-transform: uppercase

.main-title
    text-align: center
    font-weight: bolder
    color: $winc-main-blue

.logo
    width: 250px
    margin: auto

.logo img
    width: 100%
    height: auto
