@import variables
@import tags
@import table

.main-title
    text-align: center
    font-weight: bolder
    color: $winc-main-blue

.logo
    width: 250px
    margin: auto

.logo img
    width: 100%
    height: auto
