.tag
    font-family: Helvetica, Arial, sans-serif
    background: #588fe5
    display: inline-block
    color: #fff
    position: relative
    padding: 10px
    border-radius: 4px
    margin: 0 30px 0 0
    text-decoration: none

.javascript
    background-color: #f7df1e
    color: #000

.async
    background-color: #CBFF8C
    color: #000

.css
    background-color: #C16200

.praktisch
    background-color: #4E0110
