@import variables
@import tags
@import table

section
    header
        text-align: center
        font-weight: bolder
        font-size: 3.5em

        a
            text-decoration: none

.logo
    width: 250px
    margin: 20px auto

.logo img
    width: 100%
    height: auto

.tag:hover
  cursor: pointer
