.javascript
    background-color: #f7df1e
    color: #000

.async
    background-color: #CBFF8C
    color: #000

.css
    background-color: #C16200

.praktisch
    background-color: #cf6a7e

.html
    background-color: #e34c26

.netlify
    background-color: #10b973

.dom
    background-color: #9cd355
    color: #000

.git
    background-color: #aa2200

.live-lessen
    background-color: #cc1bae

.commandline
    background-color: grey
