{% extends "base.html" %}

{% block content %}


<section>
    <table id="faqtable" class="display compact">
        <thead>
            <tr class="table-headings">
                <th class="question-header">Question</th>
                <th class="tag-header">Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for page in section.pages %}
            <tr>
                <td><a class="question-link" href="{{ page.permalink | safe }}">{{ page.title }}</a></td>
                <td data-orderable="false" class="tag-col">
                    {% for tag in page.extra.tags %}
                    <label class="tag {{tag}}">{{tag}}</label>
                    {% endfor %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<script>
    $(document).ready(function () {
        $('#faqtable').DataTable({
            "paging": false,
            "order": [[0, "asc"]],
            "columnDefs": [
                { "width": "20%", "targets": 1 }
            ],
            language: {
                "search": "",
                "searchPlaceholder": "Search..."
            }
        });
    });
</script>

{% endblock content %}
